<div class="container">
  <div class="text-center encabezado-seccion">
    <h1>Registre los datos para la facturación</h1>
  </div>

    <div class="formulario">

    <%= form_tag :action => 'EmitirFactura' do %>

      <div class="row">
        <div class="col-md-3">
          <label class="texto-form">Paciente</label>
        </div>
        <div class="col-md-3">
          <%= text_field_tag 'paciente' %>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-3">
          <label class="texto-form">Concepto</label>
        </div>
        <div class="col-md-3">
          <%= text_area_tag 'concepto' %>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-3">
          <label class="texto-form">Total</label>
        </div>
        <div class="col-md-3">
          <%= text_field_tag 'total' %>
        </div>
      </div>


      <br><br>
      <div class="enviar">
        <%= submit_tag 'Generar Factura' %>
      </div>


  <% end %>

  </div>
</div>
