<!DOCTYPE html>
<html>
<head>
<body>
<h2>Dr.<%= @answer.doctor.name%> <%= @answer.doctor.lastname%></h2>
<p>
<%= @answer.consult.subject %><br>
<%= truncate(@answer.body, length: 30)%>
</p>
<p>
<%=link_to "Leer mas", consult_url(@answer.consult)%>
</p>
</body>
</head>
</html>