<div class="container">
    <div class="formulario">

    <%= form_tag :action => 'RegistroMedicos' do %>

      <p class="seccion">Datos primordiales</p>

      <div class="row">
        <div class="col-md-3">
          <label class="texto-form">Nombre</label>
        </div>
        <div class="col-md-3">
          <%= text_field_tag 'nombre' %>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-3">
          <label class="texto-form">Apellido paterno</label>
        </div>
        <div class="col-md-3">
          <%= text_field_tag 'apePaterno' %>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-3">
          <label class="texto-form">Apellido materno</label>
        </div>
        <div class="col-md-3">
          <%= text_field_tag 'apeMaterno' %>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-3">
          <label class="texto-form">Especialidad</label>
        </div>
        <div class="col-md-3">
          <%= text_field_tag 'especialidad' %>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-3">
          <label class="texto-form">Cédula</label>
        </div>
        <div class="col-md-3">
          <%= text_field_tag 'cedula' %>
        </div>
      </div>

      <br><br>
      <p class="seccion">Donde vive</p>

      <div class="row">
        <div class="col-md-3">
          <label class="texto-form">Dirección</label>
        </div>
        <div class="col-md-3">
          <%= text_field_tag 'direccion' %>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-3">
          <label class="texto-form">País</label>
        </div>
        <div class="col-md-3">
          <%= text_field_tag 'pais' %>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-3">
          <label class="texto-form">Estado</label>
        </div>
        <div class="col-md-3">
          <%= text_field_tag 'estado' %>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-3">
          <label class="texto-form">Municipio</label>
        </div>
        <div class="col-md-3">
          <%= text_field_tag 'municipio' %>
        </div>
      </div>

      <br><br>
      <p class="seccion">Datos de inicio de contacto</p>

      <div class="row">
        <div class="col-md-3">
          <label class="texto-form">Teléfono móvil</label>
        </div>
        <div class="col-md-3">
          <%= text_field_tag 'telMovil' %>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-3">
          <label class="texto-form">Correo Electrónico</label>
        </div>
        <div class="col-md-3">
          <%= text_field_tag 'email' %>
        </div>
      </div>

      <br><br>
      <p class="seccion">Datos de inicio de sesión</p>

      <div class="row">
        <div class="col-md-3">
          <label class="texto-form">Usuario</label>
        </div>
        <div class="col-md-3">
          <%= text_field_tag 'usuario' %>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-3">
          <label class="texto-form">Contraseña</label>
        </div>
        <div class="col-md-3">
          <%= text_field_tag 'contrasenia' %>
        </div>
      </div>


      <br><br>
      <div class="enviar">
        <%= submit_tag 'Registrarse' %>
      </div>


  <% end %>

  </div>
</div>
