<div class="shadow">
<h1>Carrito</h1>
<%if @carrito != [] %>
    <table>
    <thead>
        <tr>
        <th>Producto</th>
        <th>Precio</th>
        <th>Cantidad</th>
        <th colspan="3"></th>
        </tr>
    </thead>

    <tbody>
        <% @carrito.each do |cart| %>
        <tr>
            <td class="text-center"> <%= cart.medicament.name %> </td>
            <td class="text-center"> <%= cart.medicament.price %> </td>
            <td class="text-center"> <%= cart.quantity %> </td>
            <td><%= button_to 'Eliminar', cart_path(cart: cart), method: :delete, data: { confirm: 'Esta seguro?' } %></td>
        </tr>
        <% end %>
    </tbody>
    </table>
    <%=button_to "Pagar", shipping_path %>
<%end%>
</div>