<div class="shadow">

<h1>Tienda</h1>
<% if Cart.find_by(patient: current_patient)%>
  <%@carrito = CartDetail.where(:cart => Cart.where(patient: current_patient)) %>
  <h3>Articulos en el carrito: <%= @carrito.count%></h3> 
  <%if @carrito.count > 0%>
    <%=button_to "Carrito", cart_path %>
  <%end%>
<%end%>
<table>
  <thead>
    <tr>
      <th>Producto</th>
      <th>Precio</th>
      <th>Cantidad</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stores.each do |store| %>
      <tr>
        <td> <%= store.name %> </td>
        <td> <%= store.price %> </td>
        <%= form_for :algo, method: :post, url: store_show_path(:store_id => store.id) do |f| %>
          <td><%=f.number_field :quantity%></td>
          <%=f.hidden_field :medicament_id, :value => store.id %>
          <td><%= f.submit 'Agregar'%></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>