<h2>Inicia Sesión como Doctor</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :Usuario %><br />
    <%= f.text_field :username, autofocus: true, autocomplete: "username" %>
  </div>

  <div class="field">
    <%= f.label :Contraseña %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :recuerdame %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Ingresar" %>
  </div>
<% end %>

<%= render "doctors/shared/links" %>
<p></p>
<button><%=link_to "ingresa como paciente", new_patient_session_path%></button>
<p></p>
</div>
