<nav class="navbar navbar-inverse navbar-fixed">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href=<%=root_path%>>RubyHealthCare</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <%if doctor_signed_in? %>
        <ul class="nav navbar-nav navbar-left">
          <li><%= link_to "Consultas Archivadas", welcome_closed_path, class: "navbar-brand active"%></li>
          <li><%= link_to "Video Consulta", calls_path, class: "navbar-brand active"%></li>
        </ul>
      <%else%>
        <ul class="nav navbar-nav navbar-left">
          <li><%= link_to "Buscar", url="welcome/search?algo[speciality_id]=0", class: "navbar-brand active"%></li>
          <li><%= link_to "Video Consulta", calls_path, class: "navbar-brand active"%></li>
        </ul>
      <% end %>
      <ul class="nav navbar-nav navbar-right">
        <%if doctor_signed_in? %>
          <li><%= link_to "COVID-19", covid_conditions_path, class: "navbar-brand active"%></li>
          <li><%= link_to "Nuevas Consultas", consults_path, class: "navbar-brand active"%></li>
          <li><%= link_to "Facturas", bills_path, class: "navbar-brand active"%></li>
        <%else%>
          <%if patient_signed_in? %>
          <li><%= link_to "Mis Consultas", consults_path, class: "navbar-brand active"%></li>
          <%end%>
        <%end%>
        <li><%= link_to "Recetas", prescriptions_path, class: "navbar-brand active"%></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Perfil <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <%if doctor_signed_in? %>
              <%= image_tag user_avatar(current_doctor, 60), class: "img-circle center-block" %>
              <p class="text-center"><%= current_doctor.name%></p>
              <li role="separator" class="divider"></li>
              <li class="text-center"><%= link_to "Ver perfil", profile_path(current_doctor.username) %></li>
              <li class="text-center"><%= link_to "Editar perfil", edit_doctor_registration_path%></li>
              <li class="text-center"><%= link_to "Mis Servicios", dservices_path%></li>
              <li role="separator" class="divider"></li>
              <li class="text-center"><%= link_to "Cerrar sesión", destroy_doctor_session_path, method: :delete %></li>
            <%else%>
              <%= image_tag user_avatar(current_patient, 60), class: "img-circle center-block" %>
              <p class="text-center"><%= current_patient.name%></p>
              <li role="separator" class="divider"></li>
              <li class="text-center"><%= link_to "Ver perfil", profile_path(current_patient.username) %></li>
              <li class="text-center"><%= link_to "Editar perfil", edit_patient_registration_path%></li>
              <li role="separator" class="divider"></li>
              <li class="text-center"><%= link_to "Cerrar sesión", destroy_patient_session_path, method: :delete %></li>
            <%end%>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>