<div class="container">

  <div class="text-center encabezado-seccion">
    <h1>Por favoringrese los datos para su facturación</h1>
  </div>

    <div class="formulario">

    <%= form_tag :action => 'DatosFacturacion' do %>

      <p class="seccion">Dirección para factura y/o envío</p>

      <div class="row">
        <div class="col-md-3">
          <label class="texto-form">Dirección</label>
        </div>
        <div class="col-md-3">
          <%= text_field_tag 'direccion' %>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-3">
          <label class="texto-form">País</label>
        </div>
        <div class="col-md-3">
          <%= text_field_tag 'pais' %>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-3">
          <label class="texto-form">Estado</label>
        </div>
        <div class="col-md-3">
          <%= text_field_tag 'estado' %>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-3">
          <label class="texto-form">Municipio</label>
        </div>
        <div class="col-md-3">
          <%= text_field_tag 'municipio' %>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-3">
          <label class="texto-form">Teléfono</label>
        </div>
        <div class="col-md-3">
          <%= text_field_tag 'telefono' %>
        </div>
      </div>

      <br><br>
      <p class="seccion">Método de pago</p>
      <div class="row texto-form">
        <div class="col-md-3">
          <%= radio_button_tag :metodopago, 'visa' %> Visa
        </div>
        <div class="col-md-3">
          <%= radio_button_tag :metodopago, 'mastercard' %> MasterCard
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-3">
          <label class="texto-form">Número de tarjeta</label>
        </div>
        <div class="col-md-3">
          <%= text_field_tag 'tarjeta' %>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-3">
          <label class="texto-form">Expira</label>
        </div>
        <div class="col-md-3">
          <%= text_field_tag 'mes' %>  /  <%= text_field_tag 'anio' %>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-3">
          <label class="texto-form">Nombre del titular de la tarjeta</label>
        </div>
        <div class="col-md-3">
          <%= text_field_tag 'titular' %>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-3">
          <label class="texto-form">CSV</label>
        </div>
        <div class="col-md-3">
          <%= text_field_tag 'csv' %>
        </div>
      </div>

      <br><br>
      <div class="enviar">
        <%= submit_tag 'Actualizar' %>
      </div>


  <% end %>

  </div>
</div>
