<%if doctor_signed_in? %>
    <div class = "shadow">
        <h3>Bienvenido <%= current_doctor.name %></h3>
        <h2>Mis Consultas</h2>
        <%= render 'consults/see'%>
        <br>
        <div class="digg_pagination">
            <%= will_paginate @consults, :container => false %>
        </div>
    </div>
<%else%>
    <%if patient_signed_in? %>
        <div class = "shadow">
            <h3>Bienvenido <%= current_patient.name %></h3>
            <h2>Consultas Respondidas</h2>
            <div class="digg_pagination">
            <%= will_paginate @consults, :container => false %>
            </div>
            <%= render 'consults/see'%>
            <br>
        </div>
    <%else%>
        <div class="container">
            <div class="row text-center">
                <div class="col-sm-7">
                    <%=link_to image_tag("doctor.png", :size => "260x180", class: "img-circle center-block"), new_doctor_session_path%>
                </div>
                <div class="col-sm-1">
                    <%=link_to image_tag("patient.png", :size => "260x180", class: "img-circle center-block"), new_patient_session_path%>
                </div>
            </div>
            <p></p>
        </div>
    <%end%>
<%end%>