<h2>Editar Perfil de <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  
<%-# Imagen de perfil -%>  
  <div class="row">
    <div class="col-sm-1">
      <%= image_tag user_avatar(resource, 100), class: "img-circle" %>
    </div>
    <div class="col-sm-4">
      <%= f.file_field :avatar %>
    </div>
  </div>
<p></p>
<%-# Nombre y Apellidos -%>
  <div class="row">
    <div class="col-sm-2 field">
      <%= f.label :'Nombre(s)' %><br />
      <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
    </div>
    <div class="col-sm-2 field">
      <%= f.label :'Apellido(s)' %><br />
      <%= f.text_field :lastname, autofocus: true, autocomplete: "lastname" %>
    </div>
  </div>
<p></p>
<%-# Fecha de nacimiento y Numero telefonico -%>
  <div class="row">
    <div class="col-sm-2 field">
      <%= f.label :Fecha_de_Nacimiento %><br />
      <%= f.date_field :birth, autofocus: true, autocomplete: "email" %>
    </div>
    <div class="col-sm-2 field">
      <%= f.label :Numero_de_Teléfono %><br />
      <%= f.text_field :cellphone, autofocus: true%>
    </div>
  </div>
<p></p>
<%-# Alergias, enfermedades cronicas y cirugía -%>
  <div class="row">
    <div class="col-sm-2 field">
      <%= f.label :Alergias %><br />
      <%= f.text_area :allergy, :cols => 45, :rows => 5 %>
    </div>
  </div>
<p></p>
<div class="row">
    <div class="col-sm-2 field">
      <%= f.label :Enfermedades_cronicas %>
      <%= f.text_area :chronic_diseases, :cols => 45, :rows => 5 %>
    </div>
  </div>
<p></p>
<div class="row">
    <div class="col-sm-2 field">
      <%= f.label :Cirugía_recibida %>
      <%= f.text_area :surgeries, :cols => 45, :rows => 5  %>
    </div>
  </div>
<p></p>
<%-# Pais -%>
  <div class="row">
    <div class="col-sm-2 field">
      <%= f.label :Pais %>
      <%= f.text_field :country, autofocus: true %>
    </div>
    <div class="col-sm-2 field">
      <%= f.label :Estado %>
      <%= f.text_field :state, autofocus: true %>
    </div>
  </div>
<p></p>
<%-# Ciudad -%>
  <div class="row">
    <div class="col-sm-2 field">
      <%= f.label :Ciudad %>
      <%= f.text_field :city, autofocus: true %>
    </div>
    <div class="col-sm-2 field">
      <%= f.label :Dirección %><br />
      <%= f.text_field :address, autofocus: true %>
    </div>
  </div>
<p></p>
<%-# Correo -%>
  <div class="row">
    <div class="col-sm-2  field">
      <%= f.label :Email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Esperando por confirmación de: <%= resource.unconfirmed_email %></div>
    <% end %>
  </div>
<p></p>

  <div class="field">
    <%= f.label :Contraseña %> <i>(Dejelo en blanco si no desea cambiar su contraseña)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> caracteres minimos</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :Contraseña_actual %> <i>(Ingresa tu contraseña para guardar los cambios)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
