<h2>Nuevo paciente</h2>
<div class="signin">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <div class="row">
    <div class="col-sm-8 field">
  <%= render "devise/shared/error_messages", resource: resource %>
  </div></div>
  <%-# Nombre y Apellidos -%>
  <div class="row">
    <div class="col-sm-5 field">
      <%= f.label :'Nombre(s)' %><br />
      <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
    </div>
    <div class="col-sm-5 field">
      <%= f.label :'Apellido(s)' %><br />
      <%= f.text_field :lastname, autofocus: true, autocomplete: "lastname" %>
    </div>
  </div>
<p></p>
<%-# Fecha de nacimiento y Numero telefonico -%>
  <div class="row">
    <div class="col-sm-5 field">
      <%= f.label :Fecha_de_Nacimiento %><br />
      <%= f.date_field :birth, autofocus: true, autocomplete: "email" %>
    </div>
    <div class="col-sm-5 field">
      <%= f.label :Numero_de_Teléfono %><br />
      <%= f.text_field :cellphone, autofocus: true%>
    </div>
  </div>
<p></p>
<%-# Alergias, enfermedades cronicas y cirugía -%>
  <div class="row">
    <div class="col-sm-10 field">
      <%= f.label :Alergias %><br />
      <%= f.text_area :allergy, :cols => 45, :rows => 5 %>
    </div>
  </div>
<p></p>
<div class="row">
    <div class="col-sm-10 field">
      <%= f.label :Enfermedades_cronicas %>
      <%= f.text_area :chronic_diseases, :cols => 45, :rows => 5 %>
    </div>
  </div>
<p></p>
<div class="row">
    <div class="col-sm-10 field">
      <%= f.label :Cirugía_recibida %>
      <%= f.text_area :surgeries, :cols => 45, :rows => 5  %>
    </div>
  </div>
<p></p>
<%-# Pais -%>
  <div class="row">
    <div class="col-sm-5 field">
      <%= f.label :Pais %>
      <%= f.text_field :country, autofocus: true %>
    </div>
    <div class="col-sm-5 field">
      <%= f.label :Estado %>
      <%= f.text_field :state, autofocus: true  %>
    </div>
  </div>
<p></p>
<%-# Ciudad -%>
  <div class="row">
    <div class="col-sm-5 field">
      <%= f.label :Ciudad %>
      <%= f.text_field :city, autofocus: true %>
    </div>
    <div class="col-sm-5 field">
      <%= f.label :Dirección %><br />
      <%= f.text_field :address, autofocus: true %>
    </div>
  </div>
<p></p>

<%-# Usuario y correo -%>
  <div class="row">
    <div class="col-sm-5 field">
      <%= f.label :'Usuario' %><br />
      <%= f.text_field :username, autofocus: true, autocomplete: "name" %>
    </div>
    <div class="col-sm-5 field">
      <%= f.label :Email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
  </div>
<p></p>
<%-# Contraseñas -%>
  <div class="row">
    <div class="col-sm-5 field">
      <%= f.label :Contraseña %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> caracteres minimo)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>
    <div class="col-sm-5 field">
      <%= f.label :Confirmar_contraseña%><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>
  </div>
<p></p>
  <div class="row">
  <div class="col-sm-10">
    <div class="actions">
      <%= f.submit "Registrarse" %>
    </div>
<% end %>
<p></p>

<%= render "patients/shared/links" %>
