<div class="bill">
<%= form_with(model: bill, local: true) do |form| %>
  <% if bill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bill.errors.count, "error") %> prohibited this bill from being saved:</h2>

      <ul>
      <% bill.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
  <div class="col-sm-10 field">
    <%= form.label :Paciente %>
    <%= form.select :patient_id, options_from_collection_for_select(Patient.all, :id,:name)%>
  </div>
</div>
<div class="row">
  <div class="col-sm-10 field">
    <%= form.label :Concepto_de_facturación %>
    <%= form.text_area :body, :cols => 60, :rows => 3  %>
  </div>
</div>
<div class="row">
  <div class="col-sm-10 field">
    <%= form.label :Total %>
    <%= form.text_field :total %>
  </div>
  <div class="col-sm-10">
  <div class="actions">
    <%= form.submit %>
  </div>
  </div>
</div>
<% end %>
</div>