<div class="shadow">
<p id="notice"><%= notice %></p>

<p>
  <strong>Doctor:</strong>
  <%= @bill.doctor.name %> <%= @bill.doctor.lastname %>
</p>

<p>
  <strong>Paciente:</strong>
  <%= @bill.patient.name %> <%= @bill.patient.lastname %>
</p>

<p>
  <strong>Descripción:</strong>
  <%= @bill.body %>
</p>

<p>
  <strong>Total:</strong>
  <%= @bill.total %>
</p>

<%= link_to 'Edit', edit_bill_path(@bill) %> |
<%= link_to 'Back', bills_path %>
</div>