<%= form_for ([@consult, @answer]) do |form| %>
  <% if @answer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@answer.errors.count, "error") %> prohibited this answer from being saved:</h2>

      <ul>
      <% @answer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_area :body, :cols => 60, :rows => 3  %>
  </div>

  <div class="actions">
    <%= form.submit "responder" %>
  </div>
<% end %>

