<%if @consults != [] %>
  <table>
    <thead>
      <tr>
        <%if patient_signed_in?%>
          <th>Doctor</th>
        <%else%>
          <%if doctor_signed_in?%>
            <th>Patient</th>
          <%end%>
        <%end%>
        <th>Especialidad</th>
        <th>Descripción</th>
        <th>Ultima actualización</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
        <% @consults.each do |consult| %>
          <tr>
          <%if patient_signed_in?%>
            <td><a href= <%=profile_path(consult.doctor.username)%>>
              <%= consult.doctor.name %> <%= consult.doctor.lastname %>
            </td>
          <%else%>
            <%if doctor_signed_in?%>
            <td><a href= <%=profile_path(consult.patient.username)%>>
              <%= consult.patient.name %> <%= consult.patient.lastname %>
            </td>
            <%end%>
          <%end%>
            <td><%= consult.speciality.name %></td>
            <td><%= consult.subject %></td>
            <td><%= consult.updated_at %></td>
            <td><%= button_to 'Show', consult %></td>
            <%if patient_signed_in? && consult.closed == 0 %>
              <td><%= button_to 'Edit', edit_consult_path(consult) %></td>
              <td><%= button_to 'Destroy', consult, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <%end%>
          </tr>
        <% end %>
    </tbody>
  </table>
<%end%>