<!DOCTYPE html>
<html>
  <head>
    <title>RubyHealthCare</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="jumbotron text-center">
      <h2>Bienvenido al Sistema de Salud</h2>
      <h1>Ruby Health Care</h1>
      <%= render 'partials/navigation'%>
    </div>
    <%= yield %>
  </body>
</html>
